{{ define "main" }}
    <header class="container mx-auto py-8 border-b border-gray-300 max-w-3xl px-4">
        <h1>{{ .Title }}</h1>
        {{ if .Params.meta_image }}
            <img class="rounded" src="{{ (.Resources.GetMatch .Params.meta_image).RelPermalink }}" alt="{{ .Title }}">
        {{ end }}
        {{ if .Params.description }}
            <p class="text-xl text-gray-600">
                {{ .Params.description }}
            </p>
        {{ end }}
    </header>
    <section class="container mx-auto max-w-3xl py-8 px-4">
        {{ .Content }}
    </section>
    <section class="container mx-auto max-w-3xl">
        {{ $modulePath := path.Split (path.Dir .Path) }}
        {{ $module := .GetPage (path.Dir (string $modulePath)) }}
        {{ partial "learn/topics" (dict "context" . "topic" . "module" $module) }}
    </section>
    <section>
        {{ partial "learn/modules" (dict "context" . "module" $module) }}
    </section>
    <section class="container mx-auto max-w-3xl mb-16 mt-12">
        {{ if .NextInSection }}
            <a class="btn btn-secondary" href="{{ .NextInSection.RelPermalink }}">Next up: {{ .NextInSection.Title }} &rarr;</a>
        {{ end }}
    </section>

    <div>
        {{ range .Resources }}
            {{ . }}<br><br>
        {{ end }}
    </div>
{{ end }}
